body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #F2EDE4;
    color: #444;
}
ul{
    display: inline-block;
    color: cornflowerblue;
    list-style-position:inside;
    list-style:square;
}
h3{
    font-size: 15pt;
}
li{
    font-size: 15pt;
}
p{
    font-size: 12pt;
}
a{
    color: seagreen;
}